<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Import Bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Navbar on every page -->
    <nav class ="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'homepage' %}">Evergreen Habit Tracker</a>
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">   
            <u1 class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="{% url 'features' %}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                <li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_habits' %}">My Habits</a>
                <li>
            </u1>
        </div>
        <div class="navbar-nav">
            <!-- Navbar Right Side -->
            {% if user.is_authenticated %}
                <a class="nav-link active"> Welcome {{ user }}!</a>
                <a class="nav-link active" href="{% url 'profile' %}">My Profile</a>
                <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
                <a class="nav-link active" href="{% url 'create_account' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- Redirect Messages -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <br><br><br>

    {% block content %}
    {% endblock content %}

    <br><br><br>
    <!-- Footer on every page -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
    <footer class="text-muted">
        <div class="container">
            <p>
                Evergreen Habit Tracker is developed by using Django and Bootstrap. Visit the GitHub Repository at 
                <a href="https://github.com/DennisHC/HabitTracker">https://github.com/DennisHC/HabitTracker</a>!
            </p>
        </div>
    </footer>
    </nav>

</head>
</html>