{% extends "habits/base.html" %}

{% block content %}
    <div class="container my-10">
        <div class="row mx-md-n5 my-5">

            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <h2 class="text-center">Tasks</h2>

                    <!--Use javascript to grab this id and populate the items on the page-->
                    <div id="tasklist">
                        <!--Populate here-->

                        <!--Remove later when loading from db functionality is implemented-->
                        <div class="my-3">
                            <div class="input-group-text text-wrap text-left">
                                <input type="checkbox" class="mx-2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus excepturi, reprehenderit eius debitis ipsum in aliquam vero quia autem, placeat odio maxime dignissimos exercitationem animi neque quibusdam totam iste odit.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <h2 class="text-center">Habits</h2>

                    <!--Use javascript to grab this id and populate the items on the page-->
                    <div id="tasklist">
                        <!--Populate here-->

                        <!--Remove later when loading from db functionality is implemented-->
                        <div class="my-3">
                            <div class="input-group-text text-wrap text-left">
                                <input type="checkbox" class="mx-2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus excepturi, reprehenderit eius debitis ipsum in aliquam vero quia autem, placeat odio maxime dignissimos exercitationem animi neque quibusdam totam iste odit.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content %}